.component {
  padding: 0.3rem;
}

.itemComponent {
  border: 1px solid black;
}

.itemHeading {
  word-spacing: 0.3rem;
  letter-spacing: 0.025rem;
}

.itemStats {
  display: flex;
}

.itemStat {
  width: 50%;
}

.itemStat > .key {
  font-size: 0.9rem;
}

.upgradeComponent {
  border: 1px solid black;
}
