/* POSITIONING  */
.component {
  padding: 0.3rem;
}

.itemDescription,
.upgradeDescription {
  word-spacing: 0.3rem;
  letter-spacing: 0.025rem;
}

.itemStats,
.upgradeStats {
  display: flex;
}

.itemStat,
.upgradeStat {
  width: 50%;
}

.itemStat > .key,
.upgradeStat > .key {
  font-size: 0.9rem;
}

.upgradeComponentContainer {
  display: grid;
  padding: 0.3rem;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.upgradeComponent {
  position: relative;
}

.upgradeComponentImage {
  padding-right: auto;
  position: relative;
  display: block;
  padding: 10;
}

.upgradeHoverDiv {
  display: none;
}

/* DESIGN */

.itemComponent {
  border: 1px solid black;
}

.upgradeComponentImage {
  width: 2.5rem;
  height: 2.5rem;
  z-index: 0;
}

.upgradeHoverDiv {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  /* border: 2px solid gray; */

  padding: 0.3rem;
  padding-right: 1.5rem;

  min-height: 6rem;
  width: 15rem;

  z-index: 1;
}

.upgradeHoverDiv > p {
  margin-block-start: 0;
}

.upgradeBought {
  background-color: green;
  opacity: 0.6;
}
