/* MAIN BUTTON JUMP ANIMATION */

#mainImage {
  transition: transform 1s;
}

#mainButton:hover #mainImage {
  transform: translateY(-5%);
}

#settingsWindowExitButton:hover {
  border-color: var(--highlight-color);
  color: var(--highlight-color);
}

/* SETTING SELECTOR HOVERS */
.settingsSelector:hover {
  border-color: var(--highlight-color);
}

/* ITEMS HOVER */

.itemComponent:hover {
  border-color: var(--highlight-color);
}

/* UPGRADES HOVER */

.upgradeComponentImage:hover {
  display: block;
  z-index: 2;
}

.upgradeComponentImage:hover ~ .upgradeHoverDiv {
  display: block;
  position: absolute;
  top: -0.15rem;
  right: 0;
}

.highlightColorSelected {
  outline: 3px solid black;
}
