/* MAIN BUTTON JUMP ANIMATION */

#mainImage {
  transition: transform 1s;
}

#mainButton:hover #mainImage {
  transform: translateY(-5%);
}

/* ITEMS HOVER */

.itemComponent:hover {
  border-color: gold;
}

/* UPGRADES HOVER */

.upgradeComponentImage:hover {
  display: block;
  z-index: 2;
}

.upgradeComponentImage:hover ~ .upgradeHoverDiv {
  display: block;
  position: absolute;
  top: -0.15rem;
  right: 0;
}
