@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  background-image: url('../../assets/images/default_background.png');
  overflow: hidden;
}

#main {
  --main-column-amount: 12;
  --main-row-amount: 8;

  height: 100vh;
  display: grid;
  grid-template-columns: repeat(
    var(--main-column-amount),
    calc(100% / var(--main-column-amount))
  );
  grid-template-rows: repeat(
    var(--main-row-amount),
    calc(100% / var(--main-row-amount))
  );
}

#itemContainer {
  grid-column: 1 / span 3;
  grid-row: 1 / span var(--main-row-amount);
}

#currentFollowerDisplay {
  grid-column: 5 / span 4;
  grid-row: 3;
}

#settingsWindow {
  grid-column: 5 / span 5;
  grid-row: 3 / span 3;

  z-index: 500;
}

#mainButton {
  grid-column: 5 / span 4;
  grid-row: 4 / span 2;
}

#incomeDisplay {
  grid-column: 9 / span 2;
  grid-row: var(--main-row-amount);
}

#incomeDisplay > h1 {
  margin: 0;
  padding: 0;
}

#upgradeContainer {
  grid-column: 11 / span 12;
  grid-row: 1 / span calc(var(--main-row-amount) - 1);
}

#settingsContainer {
  grid-column: 11 / span 12;
  grid-row: var(--main-row-amount);
}

.non-selectable {
  user-select: none;
  -webkit-user-drag: none;
}

.main-font {
  font-family: 'Balsamiq Sans', cursive;
}

.scrollable {
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  display: none;
}
